@using AIMS.Models
@{
    ViewData["Title"] = "Trang chủ";
}

@model HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storefront</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <main>
        <br />
        <div class="row" style="display: inline-block;  flex-direction: row-reverse;">
            <button class="register-btn" onclick="location.href='@Url.Action("SearchResultView", "Home", new { category = "CD" })'">
                DANH MỤC ĐĨA CD
            </button>
        </div>
        <section class="product-section">

            <div class="product-grid">
                @foreach (var cd in Model.CDs.Take(7)) 
                {
                    <div class="product-card">
                        <img src="@cd.ImgUrl" alt="@cd.Title" class="product-image">
                        <div class="product-info">
                            <h3 class="product-title">@cd.Title</h3>
                            <div class="price-container">
                                <p class="product-price">@cd.Price.ToString("N0")đ</p>
                            </div>
                            <a class="view-btn" style="text-decoration: none;"  href="@Url.Action("MediaDetailsView", "Home", new { id = cd.Id, category = "CD" })">🛒 XEM CHI TIẾT</a>
                        </div>
                    </div>
                }
            </div>
        </section>
        <div class="row" style="display: inline-block;  flex-direction: row-reverse;">
            <button class="register-btn" onclick="location.href='@Url.Action("SearchResultView", "Home", new { category = "Book" })'">
                DANH MỤC SÁCH
            </button>
        </div>
        <section class="product-section">
            <div class="product-grid">
                @foreach (var book in Model.Books.Take(7)) 
                {
                    <div class="product-card">
                        <img src="@book.ImgUrl" alt="@book.Title" class="product-image">
                        <div class="product-info">
                            <h3 class="product-title">@book.Title</h3>
                            <div class="price-container">
                                <p class="product-price">@book.Price.ToString("N0")đ</p>
                            </div>
                            <a class="view-btn" style="text-decoration: none;" href="@Url.Action("MediaDetailsView", "Home", new { id = book.Id, category = "Book" })">🛒 XEM CHI TIẾT</a>
                        </div>
                    </div>
                }
            </div>
        </section>
        <div class="row" style="display: inline-block;  flex-direction: row-reverse;">
            <button class="register-btn" onclick="location.href='@Url.Action("SearchResultView", "Home", new { category = "DVD" })'">
                DANH MỤC ĐĨA DVD
            </button>
        </div>
        <section class="product-section">

            <div class="product-grid">
                @foreach (var dvd in Model.DVDs.Take(7))
                {
                    <div class="product-card">
                        <img src="@dvd.ImgUrl" alt="@dvd.Title" class="product-image">
                        <div class="product-info">
                            <h3 class="product-title">@dvd.Title</h3>
                            <div class="price-container">
                                <p class="product-price">@dvd.Price.ToString("N0")đ</p>
                            </div>
                            <a class="view-btn" style="text-decoration: none;" href="@Url.Action("MediaDetailsView", "Home", new { id = dvd.Id, category = "DVD" })">🛒 XEM CHI TIẾT</a>
                        </div>
                    </div>
                }
            </div>
        </section>
    </main>
</body>
</html>